@import "{{ site.theme }}";

header {
  display: none;
}

@font-face {
    font-family: 'PopJoyStd-B';
    src: url('../PopJoyStd-B.ttf') format('truetype');
}

body {
    font-family: 'PopJoyStd-B', sans-serif;
}
